In [1]:
import requests
import json
import pandas as pd
from config import API_KEY

In [2]:
params = {
    'term': 'tourist attractions',
    'location': 'Honolulu, HI',
    'limit': 50,
    'radius': 8000  # in meters
}

In [3]:
headers = {
    'Authorization': f'Bearer {API_KEY}'
}

base_url = "https://api.yelp.com/v3/businesses/search"

In [4]:
response = requests.get(base_url, headers=headers, params=params)
data = response.json()

In [5]:
names = []
types = []
addresses = []
distances = []
lats = []
longs = []
ratings = []
prices = []

for business in data.get('businesses', []):
    try:
        name = business["name"]
        type = business['categories'][0]['title'] if business['categories'] else "N/A"
        address = business["location"]["address1"]
        distance = business.get("distance", "N/A")
        lat = business["coordinates"]["latitude"]
        long = business["coordinates"]["longitude"]
        rating = business.get("rating", "N/A")
        price = business.get("price", "N/A")
    except (KeyError, IndexError):
        type = "N/A"
        
    names.append(name)
    types.append(type)
    addresses.append(address)
    distances.append(distance)
    lats.append(lat)
    longs.append(long)
    ratings.append(rating)
    prices.append(price)

In [6]:
attractions_df = pd.DataFrame({
    'Name': names,
    'Type': types,
    'Address': addresses,
    'Distance(Meters)': distances,
    'Latitude': lats,
    'Longitude': longs,
    'Rating': ratings,
    'Price': prices
})

In [7]:
attractions_df.to_json('touristic_activities.json', orient='records', lines=False)

In [8]:
print(attractions_df.head())

                                        Name  \
0                Diamond Head State Monument
1                          MƒÅnoa Falls Trail
2  The Kaniakapupu Ruins - Access Restricted
3                               Kualoa Ranch
4                  Hawaii Glass Bottom Boats

                               Type                  Address  \
0                             Parks          Diamond Head Rd
1                            Hiking            3860 Manoa Rd
2  Landmarks & Historical Buildings      4295 Nuuanu Pali Dr
3                             Tours    49-560 Kamehameha Hwy
4                     Boat Charters  1009 Ala Moana Blvd F21

   Distance(Meters)   Latitude   Longitude  Rating Price
0       7014.081958  21.262945 -157.803324     4.5   N/A
1       5780.233926  21.341283 -157.799004     4.4   N/A
2       5177.117222  21.353664 -157.811415     4.6   N/A
3      22973.804993  21.518847 -157.853400     4.6   N/A
4       2328.965425  21.294182 -157.856524     4.7   N/A