In [1]:
import requests
import json
import pandas as pd
from config import API_KEY

In [8]:
HEADERS = {'Authorization': f'Bearer {API_KEY}'}
SEARCH_URL = 'https://api.yelp.com/v3/businesses/search'

In [9]:
params = {
    'term': 'restaurants',  
    'location': 'Honolulu, HI',
    'limit': 50,  
    'radius': 8000  
}

In [10]:
def fetch_data(offset=0):
    params['offset'] = offset
    response = requests.get(SEARCH_URL, headers=HEADERS, params=params)
    return response.json()

In [11]:
#honolulu only

data_honolulu = fetch_data(0)
businesses = data_honolulu['businesses']

In [12]:
#for waikiki

params['location'] = 'Waikiki, Honolulu, HI'
data_waikiki = fetch_data(0)
businesses.extend(data_waikiki['businesses'])

In [6]:
names = []
types = []
addresses = []
distances = []
lats = []
longs = []
ratings = []
prices = []

for business in businesses:
    try:
        name = business["name"]
        type = business['categories'][0]['title'] if business['categories'] else "N/A"
        address = ', '.join(business['location']['display_address'])
        distance = business.get("distance", "N/A")
        lat = business["coordinates"]["latitude"]
        long = business["coordinates"]["longitude"]
        rating = business.get("rating", "N/A")
        price = business.get("price", "N/A")
    except (KeyError, IndexError):
        type = "N/A"
        
    names.append(name)
    types.append(type)
    addresses.append(address)
    distances.append(distance)
    lats.append(lat)
    longs.append(long)
    ratings.append(rating)
    prices.append(price)

In [14]:
restaurants100_df = pd.DataFrame({
    'Name': names,
    'Type': types,
    'Address': addresses,
    'Distance(Meters)': distances,
    'Latitude': lats,
    'Longitude': longs,
    'Rating': ratings,
    'Price': prices
})

In [15]:
restaurants100_df.to_json('restaurants.json', orient='records', lines=False)

In [17]:
restaurants100_df.head()

Empty DataFrame
Columns: [Name, Type, Address, Distance(Meters), Latitude, Longitude, Rating, Price]
Index: []