In [1]:
import requests
import json
import pandas as pd
from config import API_KEY

In [2]:
honolulu_lat = 21.3099
honolulu_lon = -157.8581
limit = 50
radius = 8000  # in meters

params = {
    'term': 'restaurants',  # or 'hotels'
    'location': 'Honolulu, HI',
    'limit': 50,
    'radius': 8000  # in meters
}

headers = {
    'Authorization': f'Bearer {API_KEY}'
}

base_url = "https://api.yelp.com/v3/businesses/search"

In [3]:
response = requests.get(base_url, headers=headers, params=params)
data = response.json()

In [4]:
names = []
types = []
addresses = []
distances = []
lats = []
longs = []
ratings = []
prices = []

for business in data.get('businesses', []):
    try:
        name = business["name"]
        type = business['categories'][0]['title'] if business['categories'] else "N/A"
        address = business["location"]["address1"]
        distance = business.get("distance", "N/A")
        lat = business["coordinates"]["latitude"]
        long = business["coordinates"]["longitude"]
        rating = business.get("rating", "N/A")
        price = business.get("price", "N/A")
    except (KeyError, IndexError):
        type = "N/A"
        
    names.append(name)
    types.append(type)
    addresses.append(address)
    distances.append(distance)
    lats.append(lat)
    longs.append(long)
    ratings.append(rating)
    prices.append(price)

In [5]:
restaurant_df = pd.DataFrame({
    'Name': names,
    'Type': types,
    'Address': addresses,
    'Distance(Meters)': distances,
    'Latitude': lats,
    'Longitude': longs,
    'Rating': ratings,
    'Price': prices
})

restaurant_df.head()

,Name,Type,Address,Distance(Meters),Latitude,Longitude,Rating,Price
0,Monkeypod Kitchen,Tacos,2169 Kālia Rd,3987.963043,21.278553,-157.832735,4.3,$$
1,Olili,Desserts,2380 Kuhio Ave,4367.977031,21.278242,-157.824512,4.7,N/A
2,Oli's Kitchen,Diners,1009 University Ave,3357.794621,21.292112,-157.821350,4.7,$$
3,Basalt,New American,2255 Kuhio Ave,4104.829150,21.279612,-157.826944,4.3,$$
4,Duke's Waikiki,Hawaiian,2335 Kalakaua Ave,4339.092605,21.276917,-157.827891,4.0,$$

In [6]:
# Export DataFrame to CSV
restaurant_df.to_csv('restaurants_honolulu.csv', index=False)